# You can find it here: https://discord.com/developers/applications
TOKEN=VOTRE_TOKEN

# Link web of mongo: https://mongodb.com/
DBCONNECTION=MONGO_URL

# DASHBOARD
ENABLED=OFF # ON or OFF
CLIENTID= # Client ID of the bot : https://discordapp.com/developers/applications/me
OUATHSECRET= # OAuth2 Secret of the bot : https://discordapp.com/developers/applications/me
CALLBACKURL= # Callback URL of the bot : https://discordapp.com/developers/applications/me
SSECRET= # Secret phrase
DOMAIN= # Site domain
PORT= # Site port

# Link token amethyste : https://api.amethyste.moe/
AMETHYSTE=TOKEN_AMETHYSTE

# Link token blaguexyz : https://blague.xyz/
BLAGUEXYZ=TOKEN_BLAGUEXYZ
